li {
  display: block;
  margin-bottom: 1rem;
}

.container {
  margin: auto auto;
  width: 500px;
  text-align: center;
}

li span {
  float: left;
  width: 200px;
  text-align: left;
}

form {
  margin-top: 5rem;
}
